:root{
    --primary-color:#FEA116;
    --secondary-color:#fff;
    --font-size:15px;
    --body-light: #f8f9fa;
    --sub-color:rgb(151, 148, 148);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    background-color: var(--body-light);
}
i{
    color: var(--primary-color);
}
.navbar ul li a{
    color: inherit;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
    /* background-color: var(--primary-color) ; */
    box-sizing: border-box;
    height: 8vh;
    width: auto;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    color: var(--primary-color);
} 
.main {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.sidebar {
    background-color: black;
    height: 66vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: -2000px;
    /* display: none; */
    /* float: right; */
    z-index: 1;
}

.openbtn {
    position: absolute;
    top: 40px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: var(--secondary-color); 
    border: 3px solid var(--body-light);
    border-radius: 10px;
}

.sidebar a {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.sidebar-show {
    left: 0px;
}

#main {
    /* background-color: #fff !important; */
    display: none;
}
.navbar>ul>li{
    list-style: none;
     line-height: 50px;
}
.navbar ul{
    display: flex;
    list-style: none;
    height: 10vh;
    font-size: var(--font-size);
    font-weight: bold;
    /* padding-top: 10px; */
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
    color: var(--body-light);
}
.navbar ul li{
    padding-left: 20px;
    padding-right: 15px;
}
.navbar ul li:first-child{
    color: var(--primary-color);
}
/* button start  */
.nav-btn{
    height: 43px;
    width: 170px;
    background-color: var(--primary-color);
    color: var(--body-light);
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-size: 16px;

}
.navbar ul li .drop-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    height: 13vh;
    background-color: #0f172b;
    display: none;
    
}
.navbar ul li:hover{
    color: var(--primary-color);
}
.navbar ul li:hover .drop-menu{
    display: block;
   
}
.drop-menu li{
    padding: 5px 0px;
    border-bottom: 1px solid var(--secondary-color);
    line-height: 15px !important;
}
.div-inner{
    display: grid;
    grid-template-columns: auto auto;
}
li{
    list-style: none;
}
.hero-btn{
    width: 170px;
    background-color: var(--primary-color);
    height: 55px;
    font-size: 15px;
    color: var(--body-light);
    border: none;
    font-weight: bold;
    margin-top: 35px;
    border-radius: 2px;
}
.container-btn{
    background-color: var(--primary-color);
    height: 60px;
    width: 170px;
    color: var(--secondary-color);
    font-size: 18px;
    border: none;
    margin-top: 30px;
}
.form-btn{
    height: 40px;
    width: 100px;
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--primary-color);
    border: none;
    margin-top: 20px;
}
/* Button end */
.hero-div::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(imgaes/bg-hero.jpg);
    height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: -1;   
}
.main-hero{
    display: flex;
    height: 100vh;
}
.hero-div{
    height: 85vh;
    color: var(--body-light);
    padding: 0px 0px 0px 110px;
    flex: 1;
    justify-content: center;
    font-size: 17px;
    line-height: 25px;
    padding-top: 100px;
}
.hero-div>div>h1{
     font-size: 75px;
     font-weight: bold;
     color: var(--body-light);
     line-height: 85.5px;
}
.rotate-image{
    flex: 1;
}
.rotate-image .img-rotatary{
    width: auto;
    height: 500px;
    animation: rotation 30.5s  infinite linear;
}
@keyframes rotation{
    0%{rotate: 360deg;}
}
.cards-div{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.card-body{
    background-color: var(--secondary-color);
    padding: 20px;
}
.card-body p{
    color: rgb(163, 162, 162);
}
.cards-div i{
    color: var(--primary-color);
    margin-bottom: 20px;
}
.container{
    margin-top: 50px;
    padding: 50px 0px 50px 90px;
    display: flex;
}
.container-left{
    flex: 1;
}
.img-1{
    height: 240px;
    width: 250px;
}
.img-2{
    height: 220px;
}
.img-3{
    width: 207px;
    margin-left: 50px ;
}
.img-4{
    width: 340px;
    height: 220px;
}
.bout-us{
    font-family: 'Pacifico', cursive;
}
.container-right{
    flex: 1;
    padding: 65px 50px 0px -1px;  
    height: auto;
}
.container-right div h1,p{
    margin-top: 10px;
}
.container-table{
    padding-top: 40px;
}

.tbl-td{
    border-left: 5px solid var(--primary-color);
    font-size: 40px;
    color: var(--primary-color);
    font-weight: bold;
}

.menu-div{
    height: auto;
    width: auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.items-div{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.items-div table i{
    padding: 0px 10px;
}
.form-div{
    display: flex;
    height: auto;
    width: auto;
    padding: 40px;
}
.form-left{
    flex: 1;
}
.form-right{
    flex: 1;
}
.form-left{
    padding: 20px 0px 10px 30px;
}
.form-left input{
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    margin-top: 20px;
    color: var(--sub-color);
}
.form-right{
    /* background-color: azure; */
    
}
.form-right iframe{
     padding: 70px 0px 0px 30px;
    border-radius: 7px;
    box-shadow: 5px gray;
    height: 370px;
    width: 600px;

}
.chef-container{
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 100px 30px;
    text-align: center;
    height: auto;
}
.chef-container .card img{
    height: 200px;
    width: auto;
    border-radius: 50%;
}
.footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 50px 0px;
    background-color: #0f172b;
    color: var(--secondary-color);
}
.footer li span{
    padding-right: 10px;
    padding-top: 5px; 
    font-weight: bold;
    color: var(--secondary-color);
}
.footer a{
    color: var(--secondary-color);
    text-decoration: none;
}
.footer ul li{
    padding-top: 15px;
}
.icons-li i{
    padding: 5px 7px;
    margin: 8px 5px 0px 8px ;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    color: var(--secondary-color);
}
.footer h4{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: var(--primary-color);
    padding-bottom: 20px;
}
.li-inp{
    height: 40px;
    width: 150px;
    font-size: 16px;
    padding-left: 10px;
}
.inp-btn{
    height: 43px;
    width: 100px;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
}
/* SERVICES SECTION  */
.cards-div-about{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 120px;

}
.card-body{
    background-color: var(--secondary-color);
    padding: 20px;
}
.card-body p{
    color: rgb(163, 162, 162);
}
.cards-div-about i{
    color: var(--primary-color);
    margin-bottom: 20px;
}
.cards-div-about-2{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 120px;
    margin-bottom: 30px;

}
.card-body{
    background-color: var(--secondary-color);
    padding: 20px;
}
.card-body p{
    color: rgb(163, 162, 162);
}
.cards-div-about-2 i{
    color: var(--primary-color);
    margin-bottom: 20px;
}
@media screen and (max-width: 1190px){
    .rotate-image .img-rotatary{
        width: auto;
        height: 450px;
        animation: rotation 30.5s  infinite linear;
        padding-top: 20px;
    }
    .hero-div{
      padding-top: 50px;
    }
    .hero-div>div>h1{
        font-size: 60px;
        font-weight: bold;
        color: var(--body-light);
        line-height: 76.5px;
   }
}
@media screen and (max-width: 1090px)and (min-width:991px){
    .container{
        margin-top: 50px;
        padding: 50px 0px 50px 30px;
    }
    .rotate-image .img-rotatary{
        width: auto;
        height: 450px;
        animation: rotation 30.5s  infinite linear;
        padding-top: 20px;
    }
    .navbar{
        padding: 40px 32px;
    }
    .hero-div{
        padding: 30px 0px 0px 25px;
    }
    .cards-div{
        padding: 20px;
    }
}
/* About section  */
.hero-div-about::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(imgaes/bg-hero.jpg);
    height: 50vh;
    width: 100%;
    opacity: 1;
    z-index: -1;   
}
.hero-div-about{
    font-family: "Nunito",sans-serif;
    color: var(--secondary-color);
   text-align: center;
}
.hero-div-about div h1{
    font-size: 55px;
    margin-top: 70px;
}
.sub-about ul{
    display: flex;
    color: var(--secondary-color);
    justify-content: center;
}
.sub-about ul li{
    padding-right: 20px;
}
.sub-about ul li:nth-child(1){
    color: var(--primary-color);
}
.sub-about ul li:nth-child(2){
    color: var(--primary-color);
}
/* CONTACT SECTION  */
.main-contact{
    display: flex;
    height: auto;
    width: auto;
    padding: 50px;
}
.contact-left,.contact-right{
    flex: 1;
}
.contact-left iframe{
    width: 500px;
    height: 300px;
}



@media screen and (max-width: 991px) and (min-width:665px){
    .navbar ul{
        visibility: hidden;
    }
    .navbar{
        padding:40px 0px 40px 20px;
    }
    #main {
        display: block;
    }
    .main-hero{
        display: block;
        text-align: center;
        padding: 30px 100px;
    }
    .hero-div::before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        background:linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(imgaes/bg-hero.jpg);
        height: 230vh;
        width: 100%;
        opacity: 1;
        z-index: -1;   
    }
    .cards-div{
        margin-top: 60%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .rotate-image .img-rotatary{
        width: auto;
        height: 600px;
        animation: rotation 30.5s  infinite linear;
        padding-top: 20px;
    }
    .card{
        margin-top: 10px;
    }
    .container{
        display: block;
    }
    .img-3{
        width: 252px;
        margin-left: 0px;
        height: 170px;
    }
    .img-2{
        height:237px;
    }
    .img-4{
        width: 390px;
        height: 235px;
    }
    .container-right{
        text-align: center
    }
    .container-table{
        display: flex;
        justify-content: center;
    }
    .form-div{
        display: block;
    }
    .form-right iframe{
        width: 100%;
    }
    .chef-container{
        display: grid;
        grid-template-columns: auto auto;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto;
    }
}